.container
  .row
    .twelve.columns.push
  .row
    .seven.columns.centered.query-box
      h1 Misheard 
      .input-box
        form(method="post", action="/phrase")
          input.phrase.input-text.oversize.custom(type='text', name='phrase', placeholder='What should I mishear?')
          .search
          input.phrase-submit.nice.black.radius(type="submit") Submit

  .row
    .seven.columns.centered.dropdown
      ul.dropdown-list
