.container
  .row
    .seven.columns.centered.center-text
      .panel
        h1 mishear.me
        input.input-text.oversize.custom(type='text', placeholder='What should i mishear?')
        .search
