.container
  .row
    .twelve.columns.push
  .row
    .seven.columns.centered.center-text
      .panel
        h1 mishear.me
        //form(method="post", action="/")
        //  input.input-text.oversize.custom(type='text', name='query', placeholder='What should i mishear?')
        //  .search
        //  input.button.nice.blue.right(type="submit")
