!!! 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title mishear.me | mistaking what you say to perfection

    link(rel='stylesheet', href='stylesheets/foundation.css')
    link(rel='stylesheet', href='stylesheets/app.css')
    link(rel='stylesheet', href='stylesheets/ie.css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans|Oswald|Quicksand:300,400,700', rel='stylesheet', type='text/css')

    //if lt IE 9
      link(rel='stylesheet', href='stylesheets/ie.css')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body!= body

  script(src='javascripts/foundation.js')
  script(src='javascripts/app.js')
